* {
   margin: 0;
   padding: 0;
   border: 0;
}

.content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  text-align: center;
}


.form-check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}